body{background-color: azure;}
h1{ font-size: 100px;
text-align: center;}
h2{font-size: 55px;}
.happybutton{background-color:#1ed5e23d ;
    font-family: 'Bebas Neue', sans-serif;
    color: black;
    font-size: 100px;
   }
.sadbutton{background-color:#1ed5e23d ;
    font-family: 'Bebas Neue', sans-serif;
    color: black;
    font-size: 100px;
   }
.hight1 {background-color:#1ed5e23d ;
    font-family: 'Bebas Neue', sans-serif;
    color: black;
    font-size: 100px;
   }
.hight2 {background-color:#1ed5e23d ;
    font-family: 'Bebas Neue', sans-serif;
    color: black;
    font-size: 100px;
   }
.submit { text-align: center;
    background-color:white ;
    font-family: 'Bebas Neue', sans-serif;
    color: black;
    font-size: 100px;
   }