body{background-color: azure;}
h1{ font-size: 100px;
text-align: center;}
h2{font-size: 55px;}
.Happybutton{background-color:#1ed5e23d ;
    font-family: 'Bebas Neue', sans-serif;
    color: black;
    font-size: 100px;
   }
.Sadbutton{background-color:#1ed5e23d ;
    font-family: 'Bebas Neue', sans-serif;
    color: black;
    font-size: 100px;
   }
.hight 1 {background-color:#1ed5e23d ;
    font-family: 'Bebas Neue', sans-serif;
    color: black;
    font-size: 100px;
   }